/* Font Style */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* Root Style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

/* Header style */

nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

/*  */

.navigation {
	display: flex;
}
.navigation li {
	list-style: none;
	margin: 5px;
}

.navigation li a {
	text-decoration: none;
	font-weight: 600px;
	padding: 15px 20px;
}

.button-link {
	color: white;
	padding: 10px 24px;
	background: #e02c6d;
	text-decoration: none;
	border-radius: 25px;
}

.button-link:hover {
	background-color: #6b1534;
}

.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.banner-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.banner-left h1 {
	font-size: 45px;
}

.banner-left p {
	font-size: 18px;

	line-height: 1.5;
	margin: 20px 0;
}

.banner-right {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.banner-right img {
	width: 100%;
    
}

.banner-right :hover{
    transform: rotate(360deg);
     transition: transform 3s ease-in;
}
/*----------------
    # main styles
----------------- */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*---------------- 
 Influencer  arena styles 
 ------------------*/

.container {
	max-width: 1312px;
}

.collection-arena {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
}

.section-title {
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	margin: 25px;
}

.collections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 27px;
}

.collection {
	width: 330px;
	height: 474px;
	padding: 15px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.collection .thumbnail {
	width: 100%;
}

.collection .collection-name {
	font-size: 28px;
	font-weight: 700;
	margin: 10px 0;
}

.collection .collection-price {
	font-size: 24px;
}

.fa-star {
	font-size: 12px;
}

.fa-star.filled {
	color: #ffc014;
}

.fa-star.empty {
	color: #aeaeae;
}

.collection-details {
	font-weight: bold;
	font-size: 14px;
	color: #787885;
}

.next-link {
	color: #e02c6dde;

	text-decoration: none;
	/* align-items: right; */
	margin-top: 50px;
	margin-left: 900px;
	font-weight: bold;
	font-size: 16px;
}

/* gallery part css */
.gallery-title {
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	margin: 25px;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
.photo img {
	width: 100%;
	height: 200px;
	/* object-fit: cover; */
	border: 3px solid #201c1e;
}

/* Footer */

.footer {
	background-color: #0b0d17;
	padding: 50px;
	text-align: center;
	margin-top: 50px;
}

.footer h2 {
	color: #99c1da;
	margin-bottom: 5px;
}

.footer p {
	color: #91939c;
	margin: 5px 0;
}

.fab {
    margin-left: 14px;
    color: gray;
    background-color: lightgray;
    padding: 10px;
    border-radius: 50%;
}

.fab:hover {
    color: black;

}